* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.all-items {
    background-color: #efd4da47;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 30px;
    gap: 20px;
}

.shop-header-container {
    margin-left: 40px;
}

.header-title {
    font-size: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;
}

.header-info {
    display: block;
    margin-bottom: 20px;
}

.header-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 600px;
    /* line-height: 30px; */
}
.header-img{
    position: relative;
}

.btn {
    background: #de6983;
    border-radius: 5px;
    font-family: Lato;
    border: none;
    padding: 10px;
    color: white;
}

/* .header-para-left {} */

/* .header-img {
    /* width: 50%;
   height: 100vh; */

/* This is discount section */

.discount-container {
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #dcacb539;
    /* align-items: center;
    justify-content: space-around; */

}

.discount-para{
    width: 50%;
    padding: 40px;
    margin-left: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: block;

}

.discount-img {
    width: 300px;
    width: 50%;
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.hot-deal {
    line-height: 20px;
    font-size: 50px;
    margin-bottom: 30px;
}

.deal-para {
    line-height: 20px;
    font-size: 25px;
    color: #272727;
    margin-bottom: 30px;
}

/* this is insta section */
.insta-container{
    height: 80vh;
    width: auto;
    /* background-color: rgb(170, 233, 233); */
    width: 70%;
    margin: auto;
}
.insta {
    
    /* border: 2px solid; */
   
    text-align: center;
    margin-top: 20px;
}

.section-header{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
}

.insta-images{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.insta-img{
    display: flex;
    
}

.insta-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 30px;
}
.deals-container{
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position:center;
    height: 50vh;
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.email{
    text-align: center;
    margin-top: 10px;
}
.email-input{
    width: 500px;
    height: 35px;
    border: none;
    border-radius: 3px;
}

/* this is footer section */

.footer-container {
    /* height: 400px; */
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center; 
    align-items: center;
}

.shop-name {
    font-size: 50px;
}

.shop {
    color: #de6983;
}

.footer-para {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}